body {
    background-color: rgb(248, 235, 47);
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
}

.item-1 {
    flex-basis: 100px;
}

.item-4 {
    flex-basis: 100px;
}

.item-5 {
    flex-basis: 100px;
}
